In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [2]:
usa_census = pd.read_csv('/Users/Anu/Desktop/Metis/Online Flex/Business SI/edit_data_with_overlays_.csv')

In [3]:
usa_census.head()

,GEO_ID,NAME,S0101_C01_001E,S0101_C01_002E,S0101_C01_003E,S0101_C01_004E,S0101_C01_005E,S0101_C01_006E,S0101_C01_007E,S0101_C01_008E,...,S0101_C06_034E,S0101_C06_034M,S0101_C06_035E,S0101_C06_035M,S0101_C06_036E,S0101_C06_036M,S0101_C06_037E,S0101_C06_037M,S0101_C06_038E,S0101_C06_038M
0,id,Geographic Area Name,Estimate!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under ...,Estimate!!Total!!Total population!!AGE!!5 to 9...,Estimate!!Total!!Total population!!AGE!!10 to ...,Estimate!!Total!!Total population!!AGE!!15 to ...,Estimate!!Total!!Total population!!AGE!!20 to ...,Estimate!!Total!!Total population!!AGE!!25 to ...,Estimate!!Total!!Total population!!AGE!!30 to ...,...,Estimate!!Percent Female!!Total population!!SU...,Margin of Error!!Percent Female!!Total populat...,Estimate!!Percent Female!!Total population!!SU...,Margin of Error!!Percent Female!!Total populat...,Estimate!!Percent Female!!Total population!!SU...,Margin of Error!!Percent Female!!Total populat...,Estimate!!Percent Female!!Total population!!PE...,Margin of Error!!Percent Female!!Total populat...,Estimate!!Percent Female!!Total population!!PE...,Margin of Error!!Percent Female!!Total populat...
1,0500000US01003,"Baldwin County, Alabama",223234,10616,12826,14373,14410,11292,11807,12594,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US01015,"Calhoun County, Alabama",113605,6699,5534,7774,7541,6973,7088,7893,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,0500000US01043,"Cullman County, Alabama",83768,5310,4563,5906,4591,4603,5402,5186,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US01049,"DeKalb County, Alabama",71513,4578,4292,5519,5128,4989,4281,4155,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [10]:
#Create a dictionary with the columns of interest and their new names
selector = {'NAME': "COUNTY NAME", 
"S0101_C01_001E" : "TOTAL POPULATION",
"S0101_C02_002E" : "Percent Total Pop, AGE Under 5 years",
"S0101_C02_003E" : "Percent Total Pop, AGE 5 to 9 years",
"S0101_C02_004E" : "Percent Total Pop, AGE 10 to 14 years",
"S0101_C02_005E" : "Percent Total Pop, AGE 15 to 19 years",
"S0101_C02_006E" : "Percent Total Pop, AGE 20 to 24 years",
"S0101_C02_007E" : "Percent Total Pop, AGE 25 to 29 years",
"S0101_C02_008E" : "Percent Total Pop, AGE 30 to 34 years",
"S0101_C02_009E" : "Percent Total Pop, AGE 35 to 39 years",
"S0101_C02_010E" : "Percent Total Pop, AGE 40 to 44 years",
"S0101_C02_011E" : "Percent Total Pop, AGE 45 to 49 years",
"S0101_C02_012E" : "Percent Total Pop, AGE 50 to 54 years",
"S0101_C02_013E" : "Percent Total Pop, AGE 55 to 59 years",
"S0101_C02_014E" : "Percent Total Pop, AGE 60 to 64 years",
"S0101_C02_015E" : "Percent Total Pop, AGE 65 to 69 years",
"S0101_C02_016E" : "Percent Total Pop, AGE 70 to 74 years",
"S0101_C02_017E" : "Percent Total Pop, AGE 75 to 79 years",
"S0101_C02_018E" : "Percent Total Pop, AGE 80 to 84 years",
"S0101_C02_019E" : "Percent Total Pop, AGE 85 years and over",
"S0101_C05_032E" : "Female, Total population, SUMMARY INDICATORS, Median age (years)",
"S0101_C04_032E" : "Male, Total population, SUMMARY INDICATORS, Median age (years)",
"S0101_C02_033E" : "Percent Total pop, SUMMARY INDICATORS, Sex ratio (males per 100 females)"}

In [11]:
#df.rename(columns=selector_d)[selector_d.values()]
usa_census_sm = usa_census.rename(columns = selector)[selector.values()]

In [13]:
usa_census_sm.tail()

,COUNTY NAME,TOTAL POPULATION,"Percent Total Pop, AGE Under 5 years","Percent Total Pop, AGE 5 to 9 years","Percent Total Pop, AGE 10 to 14 years","Percent Total Pop, AGE 15 to 19 years","Percent Total Pop, AGE 20 to 24 years","Percent Total Pop, AGE 25 to 29 years","Percent Total Pop, AGE 30 to 34 years","Percent Total Pop, AGE 35 to 39 years",...,"Percent Total Pop, AGE 55 to 59 years","Percent Total Pop, AGE 60 to 64 years","Percent Total Pop, AGE 65 to 69 years","Percent Total Pop, AGE 70 to 74 years","Percent Total Pop, AGE 75 to 79 years","Percent Total Pop, AGE 80 to 84 years","Percent Total Pop, AGE 85 years and over","Female, Total population, SUMMARY INDICATORS, Median age (years)","Male, Total population, SUMMARY INDICATORS, Median age (years)","Percent Total pop, SUMMARY INDICATORS, Sex ratio (males per 100 females)"
837,"San Juan Municipio, Puerto Rico",318441,3.8,4.6,4.9,6.1,6.8,6.8,5.8,5.4,...,6.7,6.8,6.7,5,4,3.2,4.5,46.5,(X),(X)
838,"Toa Alta Municipio, Puerto Rico",72025,2.2,4.6,8.2,6.9,7.3,7.8,5.1,5.8,...,7.3,6.2,4.4,4.5,2.1,1.4,2.6,42.3,(X),(X)
839,"Toa Baja Municipio, Puerto Rico",74271,3.6,4.1,6.6,6.5,6.8,7.1,6.2,6.5,...,6.9,6.2,5.6,5.4,4.2,2.4,2.7,43.7,(X),(X)
840,"Trujillo Alto Municipio, Puerto Rico",63674,3.3,4.2,6.8,8.4,5.8,6.1,5.9,5.9,...,5.8,7.2,7,4,4.1,2.3,2.5,42.7,(X),(X)
841,United States,328239523,5.9,6,6.5,6.5,6.5,7.1,6.8,6.6,...,6.5,6.4,5.3,4.3,3,1.9,1.9,39.8,(X),(X)

In [14]:
usa_census_sm.to_csv("usa_census_small.csv")

In [18]:
#Perahaps the same dictionary may be used on the dataset that includes zip codes....

usa_census_zip = pd.read_csv('/Users/Anu/Desktop/Metis/Online Flex/Business SI/ACSST5Y2019.S0101_2021-10-24T224709/ACSST5Y2019.S0101_data_with_overlays_2021-10-24T223416.csv', usecols=cols_list, low_memory=False)

In [16]:
#list(newdict.keys())
cols_list = list(selector.keys())
cols_list

['NAME',
 'S0101_C01_001E',
 'S0101_C02_002E',
 'S0101_C02_003E',
 'S0101_C02_004E',
 'S0101_C02_005E',
 'S0101_C02_006E',
 'S0101_C02_007E',
 'S0101_C02_008E',
 'S0101_C02_009E',
 'S0101_C02_010E',
 'S0101_C02_011E',
 'S0101_C02_012E',
 'S0101_C02_013E',
 'S0101_C02_014E',
 'S0101_C02_015E',
 'S0101_C02_016E',
 'S0101_C02_017E',
 'S0101_C02_018E',
 'S0101_C02_019E',
 'S0101_C05_032E',
 'S0101_C04_032E',
 'S0101_C02_033E']

In [19]:
usa_census_zip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33123 entries, 0 to 33122
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NAME            33123 non-null  object
 1   S0101_C01_001E  33123 non-null  object
 2   S0101_C02_002E  33123 non-null  object
 3   S0101_C02_003E  33123 non-null  object
 4   S0101_C02_004E  33123 non-null  object
 5   S0101_C02_005E  33123 non-null  object
 6   S0101_C02_006E  33123 non-null  object
 7   S0101_C02_007E  33123 non-null  object
 8   S0101_C02_008E  33123 non-null  object
 9   S0101_C02_009E  33123 non-null  object
 10  S0101_C02_010E  33123 non-null  object
 11  S0101_C02_011E  33123 non-null  object
 12  S0101_C02_012E  33123 non-null  object
 13  S0101_C02_013E  33123 non-null  object
 14  S0101_C02_014E  33123 non-null  object
 15  S0101_C02_015E  33123 non-null  object
 16  S0101_C02_016E  33123 non-null  object
 17  S0101_C02_017E  33123 non-null  object
 18  S0101_C02_018E  33123 non-null  object
 19  S0101_C02_019E  33123 non-null  object
 20  S0101_C02_033E  33123 non-null  object
 21  S0101_C04_032E  33123 non-null  object
 22  S0101_C05_032E  33123 non-null  object
dtypes: object(23)
memory usage: 5.8+ MB

In [20]:
selector_2 = {'NAME': "ZIP Code", 
"S0101_C01_001E" : "TOTAL POPULATION",
"S0101_C02_002E" : "Percent Total Pop, AGE Under 5 years",
"S0101_C02_003E" : "Percent Total Pop, AGE 5 to 9 years",
"S0101_C02_004E" : "Percent Total Pop, AGE 10 to 14 years",
"S0101_C02_005E" : "Percent Total Pop, AGE 15 to 19 years",
"S0101_C02_006E" : "Percent Total Pop, AGE 20 to 24 years",
"S0101_C02_007E" : "Percent Total Pop, AGE 25 to 29 years",
"S0101_C02_008E" : "Percent Total Pop, AGE 30 to 34 years",
"S0101_C02_009E" : "Percent Total Pop, AGE 35 to 39 years",
"S0101_C02_010E" : "Percent Total Pop, AGE 40 to 44 years",
"S0101_C02_011E" : "Percent Total Pop, AGE 45 to 49 years",
"S0101_C02_012E" : "Percent Total Pop, AGE 50 to 54 years",
"S0101_C02_013E" : "Percent Total Pop, AGE 55 to 59 years",
"S0101_C02_014E" : "Percent Total Pop, AGE 60 to 64 years",
"S0101_C02_015E" : "Percent Total Pop, AGE 65 to 69 years",
"S0101_C02_016E" : "Percent Total Pop, AGE 70 to 74 years",
"S0101_C02_017E" : "Percent Total Pop, AGE 75 to 79 years",
"S0101_C02_018E" : "Percent Total Pop, AGE 80 to 84 years",
"S0101_C02_019E" : "Percent Total Pop, AGE 85 years and over",
"S0101_C05_032E" : "Female, Total population, SUMMARY INDICATORS, Median age (years)",
"S0101_C04_032E" : "Male, Total population, SUMMARY INDICATORS, Median age (years)",
"S0101_C02_033E" : "Percent Total pop, SUMMARY INDICATORS, Sex ratio (males per 100 females)"}

In [24]:
usa_census_zip.tail(20)

,NAME,S0101_C01_001E,S0101_C02_002E,S0101_C02_003E,S0101_C02_004E,S0101_C02_005E,S0101_C02_006E,S0101_C02_007E,S0101_C02_008E,S0101_C02_009E,...,S0101_C02_013E,S0101_C02_014E,S0101_C02_015E,S0101_C02_016E,S0101_C02_017E,S0101_C02_018E,S0101_C02_019E,S0101_C02_033E,S0101_C04_032E,S0101_C05_032E
33103,ZCTA5 99830,585,5.6,8.0,6.7,4.4,5.5,7.4,7.7,6.5,...,5.6,7.4,5.1,3.1,2.9,1.9,1.2,(X),(X),36.5
33104,ZCTA5 99832,91,0.0,0.0,0.0,4.4,7.7,0.0,7.7,3.3,...,7.7,15.4,19.8,11.0,0.0,0.0,0.0,(X),(X),53.0
33105,ZCTA5 99833,3257,6.4,5.5,4.7,5.1,10.9,5.2,5.0,4.6,...,8.3,6.3,8.4,5.9,5.3,0.9,1.4,(X),(X),45.7
33106,ZCTA5 99835,8640,4.4,6.7,6.8,5.6,5.3,7.8,6.5,7.7,...,7.9,6.6,5.4,3.7,2.0,2.4,1.7,(X),(X),40.6
33107,ZCTA5 99836,88,22.7,6.8,0.0,4.5,0.0,9.1,0.0,9.1,...,5.7,6.8,15.9,0.0,3.4,0.0,0.0,(X),(X),38.4
33108,ZCTA5 99840,1107,5.5,3.6,2.4,5.7,4.4,8.6,10.7,7.3,...,9.5,8.1,5.3,2.8,2.2,1.0,0.5,(X),(X),40.1
33109,ZCTA5 99841,137,5.1,11.7,0.0,0.0,0.0,0.0,0.0,8.8,...,10.2,10.9,23.4,2.9,0.0,0.0,6.6,(X),(X),45.5
33110,ZCTA5 99901,13822,5.8,6.2,6.0,5.9,6.1,6.9,6.6,6.8,...,7.7,8.0,5.6,4.2,2.1,1.5,1.4,(X),(X),40.2
33111,ZCTA5 99903,0,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,(X),(X),-
33112,ZCTA5 99918,213,0.0,5.2,8.0,2.8,2.3,0.0,1.9,7.5,...,16.0,9.4,25.8,0.0,1.9,3.8,0.0,(X),(X),57.9
33113,ZCTA5 99919,605,5.0,4.5,5.6,4.0,1.0,6.1,4.6,0.8,...,9.1,11.6,13.9,6.6,1.2,1.7,1.0,(X),(X),50.9
33114,ZCTA5 99921,1976,6.1,7.0,5.0,6.1,5.1,5.3,6.6,6.9,...,9.7,10.1,5.9,3.6,3.4,1.6,0.3,(X),(X),38.7
33115,ZCTA5 99922,342,7.9,9.1,5.8,10.8,4.4,6.7,2.9,4.7,...,6.4,4.4,5.0,4.4,2.9,2.0,1.8,(X),(X),34.8
33116,ZCTA5 99923,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,100.0,0.0,0.0,0.0,0.0,(X),(X),-
33117,ZCTA5 99925,908,7.4,4.8,7.0,4.5,5.1,5.8,6.4,3.2,...,12.6,4.4,6.2,4.3,2.0,1.8,0.9,(X),(X),45.7
33118,ZCTA5 99926,1654,5.0,7.4,11.2,6.8,6.5,7.3,6.6,5.7,...,7.1,5.5,5.4,4.4,1.6,0.8,0.7,(X),(X),34.6
33119,ZCTA5 99927,0,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,(X),(X),-
33120,ZCTA5 99929,2502,4.8,3.6,6.1,6.6,2.0,7.5,4.6,3.8,...,10.7,7.3,7.4,4.2,4.4,5.0,1.7,(X),(X),49.1
33121,United States,324697795,6.1,6.2,6.4,6.5,6.8,7.1,6.8,6.5,...,6.7,6.2,5.2,3.9,2.7,1.9,1.9,(X),(X),39.4
33122,"City district, Gilmer County, West Virginia",3123,6.7,3.4,2.0,6.3,15.5,9.4,9.1,12.6,...,4.6,3.9,1.8,0.5,0.7,1.7,1.2,(X),(X),26.2

In [25]:
cols_list_2 = ['NAME',
'DP02_0058E',
'DP02_0058PE',
'DP02_0059E',
'DP02_0059PE',
'DP02_0065E',
'DP02_0065PE',
'DP02_0066E',
'DP02_0066PE']

In [26]:
new_cols_names = {"NAME": "Geographic Area Name",
                 "DP02_0058E" : "ENROLLMENT Population 3 years and over enrolled in College or graduate school",
                "DP02_0058PE": "Percent ENROLLMENT Population 3 years and over enrolled in school College or graduate school",
"DP02_0059E": "Estimate EDUCATIONAL ATTAINMENT Population 25 years and over",
"DP02_0059PE" : "Percent EDUCATIONAL ATTAINMENT Population 25 years and over",
"DP02_0065E" : "Estimate EDUCATIONAL ATTAINMENT Population 25 years and over Bachelor's degree",
"DP02_0065PE" : "Percent EDUCATIONAL ATTAINMENT Population 25 years and over Bachelor's degree",
"DP02_0066E" : "Estimate EDUCATIONAL ATTAINMENT Population 25 years and over Graduate or professional degree",
"DP02_0066PE" : "Percent EDUCATIONAL ATTAINMENT Population 25 years and over Graduate or professional degree"}

In [27]:
usa_census_edu = pd.read_csv('/Users/Anu/Desktop/Metis/Online Flex/Business SI/EDucation.attainmentACSDP1Y2019.DP02_2021-11-04T153738/ACSDP1Y2019.DP02_data_with_overlays_2021-11-04T153615.csv', usecols=cols_list_2, low_memory=False)

In [28]:
usa_census_edu.head()

,NAME,DP02_0058E,DP02_0058PE,DP02_0059E,DP02_0059PE,DP02_0065E,DP02_0065PE,DP02_0066E,DP02_0066PE
0,Geographic Area Name,Estimate!!SCHOOL ENROLLMENT!!Population 3 year...,Percent!!SCHOOL ENROLLMENT!!Population 3 years...,Estimate!!EDUCATIONAL ATTAINMENT!!Population 2...,Percent!!EDUCATIONAL ATTAINMENT!!Population 25...,Estimate!!EDUCATIONAL ATTAINMENT!!Population 2...,Percent!!EDUCATIONAL ATTAINMENT!!Population 25...,Estimate!!EDUCATIONAL ATTAINMENT!!Population 2...,Percent!!EDUCATIONAL ATTAINMENT!!Population 25...
1,"Baldwin County, Alabama",10027,21.1,159717,159717,32781,20.5,18690,11.7
2,"Calhoun County, Alabama",8020,30.7,79084,79084,9082,11.5,6175,7.8
3,"Cullman County, Alabama",3456,18.6,58795,58795,5935,10.1,3306,5.6
4,"DeKalb County, Alabama",3442,19.6,47007,47007,3693,7.9,2306,4.9

In [29]:
#usa_census_sm = usa_census.rename(columns = selector)[selector.values()]
usa_census_edu = usa_census_edu.rename(columns = new_cols_names)[new_cols_names.values()]

In [30]:
usa_census_edu.head()

,Geographic Area Name,ENROLLMENT Population 3 years and over enrolled in College or graduate school,Percent ENROLLMENT Population 3 years and over enrolled in school College or graduate school,Estimate EDUCATIONAL ATTAINMENT Population 25 years and over,Percent EDUCATIONAL ATTAINMENT Population 25 years and over,Estimate EDUCATIONAL ATTAINMENT Population 25 years and over Bachelor's degree,Percent EDUCATIONAL ATTAINMENT Population 25 years and over Bachelor's degree,Estimate EDUCATIONAL ATTAINMENT Population 25 years and over Graduate or professional degree,Percent EDUCATIONAL ATTAINMENT Population 25 years and over Graduate or professional degree
0,Geographic Area Name,Estimate!!SCHOOL ENROLLMENT!!Population 3 year...,Percent!!SCHOOL ENROLLMENT!!Population 3 years...,Estimate!!EDUCATIONAL ATTAINMENT!!Population 2...,Percent!!EDUCATIONAL ATTAINMENT!!Population 25...,Estimate!!EDUCATIONAL ATTAINMENT!!Population 2...,Percent!!EDUCATIONAL ATTAINMENT!!Population 25...,Estimate!!EDUCATIONAL ATTAINMENT!!Population 2...,Percent!!EDUCATIONAL ATTAINMENT!!Population 25...
1,"Baldwin County, Alabama",10027,21.1,159717,159717,32781,20.5,18690,11.7
2,"Calhoun County, Alabama",8020,30.7,79084,79084,9082,11.5,6175,7.8
3,"Cullman County, Alabama",3456,18.6,58795,58795,5935,10.1,3306,5.6
4,"DeKalb County, Alabama",3442,19.6,47007,47007,3693,7.9,2306,4.9

In [31]:
usa_census_edu.to_csv('usa_census_edu.csv')